/template
backend/.env
backend/api/models/__pycache__
.gitignore
backend/api/api_views/__pycache__
.gitignore
backend/api/serializers/__pycache__
backend/backend/__pycache__
backend/backend/__pycache__
backend/backend/mbti_predictor/__pycache__

